%responive-tables {
	@include rwd-first;

	@media screen and (min-width: $medium-up) { 
		@include rwd-second;
		
	}
}

%responive-tables-large {
	@include rwd-first;

	@media screen and (min-width: $large-up) { 
		@include rwd-second;
		
	}
}

@mixin responive-tables($headings...) {
	$list: $headings;

	@each $list-headings in $list {
		$i: index($list, $list-headings);
		tbody tr td:nth-of-type(#{$i}):before { 
			content: $list-headings; 
		}
		
		@media screen and (min-width: $medium-up) { 
			tbody tr td:nth-of-type(#{$i}):before { 
				content: ''; 
			}
		}

	}
}

@mixin responive-tables-large($headings...) {
	$list: $headings;

	@each $list-headings in $list {
		$i: index($list, $list-headings);
		tbody tr td:nth-of-type(#{$i}):before { 
			content: $list-headings; 
		}
		
		@media screen and (min-width: $large-up) { 
			tbody tr td:nth-of-type(#{$i}):before { 
				content: ''; 
			}
		}

	}
}