
.easy-autocomplete.eac-square input {
	border: 1px solid #cacaca;
	border-radius: 0;
	//margin: 0;
	min-width: 1rem;
	width: 100%;
	font-weight: 400;
	padding: 3px 25px 3px 6px;
	color: red;
}
.easy-autocomplete{
	width:100% !important
}

.easy-autocomplete input{
	width: 100%;
}
