.dataTable {
	margin-bottom: 2rem !important;
	margin-top: 1rem !important;
}
div.dataTables_wrapper {
	margin-bottom: 2rem !important;
}
.dataTable-header {
	text-align: center;
}
div.dataTables_length {
    float: left;
}
 
div.dataTables_filter {
    float: right;
}
 
div.dataTables_info {
    float: left;
}
/* Header cells */
table.trade thead th {
    text-align: center;
    font-weight: 200;
}

/* Table style */
table.trade {
    width: 100%;
    clear: both;
    margin-bottom: 2rem;
	margin-top: 1rem;
}
 
table.trade td,
table.trade th {
    padding: 5px;
    border: 1px solid #fff;
}


.icons-area {
        width: 3rem;
        .fa-cog {
            font-size: 0.8rem;
        }
}

