section#coin-card {
	color: $medium-gray;
	font-family: 'Nunito', sans-serif;

	.profit-box {
		color: get-color(profit);
		background-color: rgba(get-color(profit),0.3);
		padding: 0.2rem;
		margin: 0.3rem;
		border-radius: 5px;
	}
	.loss-box {
		color: get-color(loss);
		background-color: rgba(get-color(loss),0.3);
		padding: 0.5rem;
		border-radius: 5px;
	}
	.neutral-box {
		color: $dark-gray;
		background-color: rgba($medium-gray,0.3);
		padding: 0.3rem;
		margin: 0.3rem;
		border-radius: 5px;
	}
	.coin-card-close {
		position: relative;
		top: -11px;
		left: -2px;
		font-size: 1.5rem;
	}
	.card-divider {
		font-size: 0.9rem;
		border-bottom: 1px solid rgba(get-color(primary), 0.1);
		color: get-color(primary);

		.coin-symbol {
			font-size: 1rem;
			font-weight: bold;
		}
		.coin-name {
			padding: 2px;
		}
	}
	.coin-data {

		&-fiat {
			font-size: 1rem;
		}
		&-btc {
			font-size: 0.8rem;
		}
		&-change {
			display: inline-block;
			margin-top: 0.4rem;
		}
	}
	.card-section {
		&-title {
			font-size: 0.8rem;
			text-transform: uppercase;
			color: get-color(primary);
		}
		.fa {
			font-size: 1rem;
			color: get-color(primary);
		}
		&-value {
			font-size: 0.7rem;
			color: get-color(primary);
		}
	}
	

}