section#coin-card {
	color: $medium-gray;
	font-family: 'Nunito', sans-serif;

	.remove-coin {
		padding: 0.2rem;
	}
	.card-divider {
		padding: 0;
		font-size: 1rem;
		border-bottom: 1px solid get-color(primary);

		.coin-symbol {
			font-size: 1.2rem;
			font-weight: bold;
		}

		.coin-data {

			padding: 2px;
	
			&-fiat {
				
			}
			&-btc {
				
			}
			&-change {
				
			}
		}
		.coin-name {
			padding: 2px;
		}
	}

	.card-section {
		&-title {
			font-size: 0.8rem;
			text-transform: uppercase;
			color: $medium-gray;
		}
		.fa {
			font-size: 1rem;
			color: $medium-gray;
		}
		&-value {
			font-size: 0.7rem;
			color: $dark-gray;
		}
	}
	

}