section#connections{
	.h4 {
		color: get-color(primary);
	}
	.exchange-settings {
		margin-bottom: 3rem;
	}
	.api-switch {
		margin-left: 2rem;
	}
	.section-title {
		background-color: $title-background;
		border-bottom: 1px solid $light-gray;
		padding: 1rem;

		h1 {
			color: get-color(secondary);
		}	
	}
	.delete-exchange-button {
		margin-left: 1rem;
		position: relative;
		float: right;
	}
	.update-exchange-button {
		margin-left: 1rem;
		position: relative;
		float: right;
	}
	.settings-area {
		margin-top: 20px;
	}

	.align-vertical {
		  display: inline;
		  button {
		  	margin: 0;
		  	display: inline;
		  	vertical-align: middle;
		  }
		  h1 {
		  	display: inline;
		  	vertical-align: middle;
		  }
	}

	.input-group-label {
		color: get-color(secondary);
		background-color: transparent;
	}
}