.notification-list {

	font-size: 1rem;

	.capitalize {
		text-transform: capitalize;
	}
	.item-check {
		color: $light-gray;
		&:focus {
			outline: 0;
		}
	}
	.item-new {
		color: get-color(success);
		&:hover {
			cursor: pointer;
		}
		&:focus {
			outline: 0;
		}
	}
}