div.dataTables_wrapper div.dataTables_length select {
    width: 75px;
    margin-bottom: 1rem !important;
}
.validation-error {
	margin: 0;
	padding: 0;
	color: get-color(alert);
	font-style: oblique;
	font-size: 0.8rem;
}
.trade-modal {
	.input-group-label {
		color: get-color(primary);
		background-color: transparent;
	}
	#close-price-select {
			width: 6rem;
			margin: 0;
			height: auto;
			min-width: 0;
			color: get-color(primary);
	}
	.number {
		text-align: right;
	} 
}

.close-trade-info {
	font-size: 0.7rem;
	margin-top: 1.5rem;
	margin-bottom: 0.5rem;
}

.trade{
	font-size: 1rem;
	color: $dark-gray;

	.col-coin {
		.coin-logo {
			height: 20px;
			margin: 2px;
		}
	}
	.dataTable {
	    margin-top: 2rem;
	    margin-bottom: 1rem;
	}

	.coin-logo {
		height: 35px;
		padding: 2px;
	}
	.coin-name {
		font-size: 1.1rem;
	}
	.trade-title {
		color: get-color(primary);
		font-weight: normal;
		font-size: 1rem;
		font-style: italic;
		text-align: center;
	}
	.trade-status{
		//color: get-color(success);
		font-weight: 400;
	}
	.status-Opened {
		color: get-color(success);
	}
	.status-Waiting, .status-Cancelling, .status-Opening, .status-Closing {
		color: get-color(warning);
	}
	.status-Closed, .status-Aborted, .status-Cancelled {
		color: get-color(alert);
	}

	.trade-cancel{
		color: get-color(alert);
		font-size: 1.3rem;
		.button {
			padding: 0;
			margin: 0;
		}
	}
	.loading {
		padding: 0;
		margin: 0;
	}
	.Opened {
		color: get-color(success);
	}
	.Closed {
		color: $dark-gray;
	}
	.refresh-icon, .edit-icon {
		font-size: 1rem;
		color: get-color(primary);


	}
	.cancel-icon, .loading-icon {
		font-size: 1rem;
		color: get-color(alert);
	}

}
