div.dataTables_wrapper div.dataTables_length select {
    width: 75px;
    margin-bottom: 1rem !important;
}
.trade {


	font-size: 1rem;
	color: $dark-gray;

	.col-coin {
		.coin-logo {
			height: 20px;
			margin: 2px;
		}
	}
	.dataTable {
	    margin-top: 2rem;
	    margin-bottom: 1rem;
	}

	.coin-logo {
		height: 35px;
		padding: 2px;
	}
	.coin-name {
		font-size: 1.1rem;
	}
	.trade-title {
		color: get-color(primary);
		font-weight: normal;
		font-size: 1rem;
		font-style: italic;
		text-align: center;
	}
	.trade-status{
		color: get-color(success);
		font-weight: 400;
	}
	.trade-cancel{
		color: get-color(alert);
		font-size: 1.3rem;
		.button {
			padding: 0;
			margin: 0;
		}
	}
	.Opened {
		color: get-color(success);
	}
	.Closed {
		color: $dark-gray;
	}
	.refresh-icon {
		font-size: 1rem;
		color: get-color(primary);

	}
	.cancel-icon {
		font-size: 1rem;
		color: get-color(alert);
	}

}
