section#dashboard {

	.section-title {
		background-color: $title-background;

		border-bottom: 1px solid $light-gray;

		h1 {
			color: get-color(secondary);
		}	
	}

	.portfolio {
		margin-top: 20px;
	}

	.title-bar-right	{

	} 

}