section#home {

	html, body {
		height: 100vh;
		margin: 0;
	}

	.section-title {
		background-color: $title-background;
		border-bottom: 1px solid $light-gray;
		h1 {
			color: get-color(secondary);
		}	
	}

	.full-height {
		height: 100vh;
	}

	.flex-center {
		align-items: center;
		display: flex;
		justify-content: center;
	}

	.position-ref {
		position: relative;
	}

	.top-right {
		position: absolute;
		right: 10px;
		top: 18px;
	}


	.title {
		font-size: 84px;
		font-weight: 100;
	}

	.versioninfo {
		color: #636b6f;
		padding: 0 25px;
		font-size: 12px;
		font-weight: 600;
		letter-spacing: .1rem;
		text-decoration: none;
	}

	.m-b-md {
		margin-bottom: 30px;
	}

}