section#trades{

	.section-title {
		background-color: $title-background;
		border-bottom: 1px solid $light-gray;
		margin-bottom: 1rem;
		h1 {
			color: get-color(secondary);
		}	
	}
	
	.accordion-title {
		color: get-color(secondary);
	}

	.trades-area {
		margin-top: 2rem;
	}
}